<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog Site</title>
  <link rel="stylesheet" href="../public/css/jass.css">
  <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
  <div class="container-fluid">
    <div class="row">
    <nav class="navbar-nav">
      <a class="nav-link active" aria-current="page" href="#">Home</a>
      <a class="nav-link" href="#">Dashboard</a>
      <a class="nav-link" href="#">Login</a>
      <a class="nav-link active" href="#" tabindex="-1" aria-disabled="true">Logout</a>
    </nav>

  <h1>The Tech Blog</h1>
    </div>
    {{{body}}}
  </div>
    
</body>

</html>